---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home - Our Wedding">
  <h1>Welcome to Our Wedding Website!</h1>
  <p>We're so excited to celebrate with you.</p>
  <p>Explore the site to find details about the event, RSVP, and more.</p>
</Layout>
