---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Photos">
  <h1>Photos</h1>
  <p>Your photo gallery will go here.</p>
  <!-- This could also be a Svelte component for a nicer gallery experience -->
</Layout> 