---
import Layout from '../layouts/Layout.astro';
---

<Layout title="RSVP">
  <h1>RSVP</h1>
  <p>Your RSVP form or information will go here.</p>
  <!-- We'll likely embed a Svelte component here later for the form -->
</Layout> 